* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-angle-down, .fa-angle-up {
  transform: scale(1.4,1.4);
  
}

/* Needed to offset the new project button */
body {
  margin-bottom: 80px;
}

.ModalOpen {
  overflow-y: hidden;
}

.Site-NewProject {
  z-index: 1000;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  background-color: rgb(61, 186, 228);
  padding: 16px 0;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.SiteHeader {
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: darksalmon;
  z-index: 1;
}

.SiteHeader-HeaderText {
  width: fit-content;
  margin: 0 auto;
  color: white;
}

.Filter-Container {
  background-color: white;
  display: flex;
}

.Filter-Button {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.Filter-Button_AllProjects {
  background-color: #fcc;
}

.Filter-Button_AllTasks {
  background-color: #cfc;
}

.Filter-Button_Filter {
  background-color: #ccf;
}

.Project {
  position: relative;
  color: #333;
  max-width: 600px;
  margin: 30px auto;
}

.Project-Container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 15px;
}

.Project-Container_Hidden {
  display: none;
}

.Project-HeaderContainer {
  border-bottom: 2px solid #eee;
}

.Project-Header {
  padding: 0 20px;
  display: flex;
  justify-content:left;
}

.Project-HeaderTextContainer {
  display: flex;
  gap: 3px;
  flex-grow: 1;
}

.Project-HeaderText {
  font-weight: 700;
}

.Project-HeaderCount {
  font-size: 0.8rem;
  color: grey;
}

.Project-SortButton {
  padding: 0 10px;
  cursor: pointer;
  width: 40px;
  text-align: center;
}

.Project-NavLeft {
  position: relative;
  top: -8px;
  left: -5px;
  color: grey;
}

.Project-NavRight {
  position: relative;
  top: -5px;
  right: -5px;
  display: flex;
  gap: 5px;
  color: grey;
}

.Project-NavIcon {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Project-NavIcon::after {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}

.Project-NavIcon:hover {
  color: #333;
}

.Project-NewTaskButton {
  font-weight: 900;
  font-size: 20px;
}

.Popup {
  z-index: 9999;
  color: #333;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 3px #333;
  /* padding: 10px; */
  transition: opacity 0.25s ease-out;
  border-radius: 5px;
}

.Popup-Container {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.Popup_Centered {
  right: 0;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-align: center;
}

.Popup-Header {
  border-bottom: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #777;
  color: white;
  padding: 10px 0;
}

.Popup-Cover {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 35%;
}

.Popup-NewProject {
  position: fixed;
  top: 40%;
  margin: auto auto;
}

.Popup-NewProjectInput {
  width: 95%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

.Project-ControlsPopup {
  top: 25px;
  right: 30px;
}

.Project-PopupControlsContainer {
  list-style: none;
  width: 180px;
  user-select: none;
}

.Project-PopupControlsButton {
  padding: 10px;
  font-size: 1.1rem;
}

.Project-PopupControlsButton:hover {
  background-color: pink;
  cursor: pointer;
  border-radius: 4px;
}

.Project-DeletePopup {
  text-align: center;
}

.Project-RenamePopupInput {
  width: 95%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

.Project-PopupButtonsContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Project-PopupButton {
  width: 80px;
  height: 33px;
}

.Task {
  border-bottom: 2px solid #eee;
  display: grid;
  grid-template-columns: 37px auto 33px;
  /* padding: 10px 10px 10px 5px; */
}

.Task-CheckboxContainer {
  height: 100%;
  padding: 10px 0;
}

.Task-Checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid #999;
  border-radius: 50%;
  background-color: #fff;
}

.Task-Checkbox_Priority-Low {
  border-width: 2px;
  border-color: blue;
  background-color: rgb(190, 190, 255);
}

.Task-Checkbox_Priority-Med {
  border-width: 2px;
  border-color: orange;
  background-color: rgb(252, 230, 189);
}

.Task-Checkbox_Priority-High {
  border-width: 2px;
  border-color: rgb(250, 54, 54);
  background-color: rgb(255, 199, 199);
}

.Task-Checkbox_Complete {
  background-color: #ccc;
  border-width: 0px;
}

.Task-Text {
 font-size: 1rem;
 margin-bottom: 5px;
}

.Task-Text_Complete {
  text-decoration: line-through;
  color: grey;
}

.Task-Date {
  font-size: 0.7rem;
  color: green;
}

.Task-Date_Complete {
  text-decoration: line-through;
  color: grey;
}

.Task-CenterContainer {
  padding: 10px 0;
}

.Task-NewTaskTextInput {
  width: 95%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

.Task-DatePickerContainer {
  margin: 15px 0;
}

.Task-DatePicker {
  width: 95%;
  font-size: 18px;
  height: 30px;
  text-align: center;
  margin-top: 5px;
}

.Task-PriorityContainerOuter {
  margin: 10px 0;
}

.Task-PriorityContainerInner {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid grey;
  margin: 5px;
  cursor: pointer;
}

.Task-PriorityField {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.Task-PriorityField-Selected {
  background-color: #ddd;
}

.Task-TextError {
  border: 2px solid red;
  box-shadow: 0px 0px 4px red;
}

.Task-DeleteTaskButton {
  width: 50%;
  height: 30px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
}